
.bigMenu{
  display: none !important;
}

.smallMenu{
  display: block;
}

/* small, horizontal */
@media (orientation: landscape) and (max-width: 1023px) {
  .smallMenu{
    display: block;
  }
}

/* big */
@media (min-width: 1024px) {
  .bigMenu {
    display: flex !important;
  }

  .smallMenu{
    display: none;
  }
}
