BasedOnStyle: Chromium
IndentWidth: 2
ColumnLimit: 90
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
LambdaBodyIndentation: Signature
AlignOperands: false
ContinuationIndentWidth: 2
AlwaysBreakAfterReturnType: None
