

button.full-screen{

  position: relative;

  &>span{
    position: absolute;
    width: 10px;
    height: 10px;
    transform-origin: 50% 50%;
    transition: all 300ms;
  }

  &>.arrow-head-top{
    border-top: 2px solid white;
    border-right: 2px solid white;
    top: 12px;
    right: 12px;
  }

  &>.arrow-head-bottom{
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    left: 14px;
    bottom: 15px;
  }

  &.on{
    &>span{
      transform: rotate(180deg);
      width: 8px;
      height: 8px;
    }

    &>.arrow-head-top{
      top: 14px;
      right: 15px;
    }

    &>.arrow-head-bottom{
      left: 14px;
      bottom: 16px;
    }
  }
  
}