.lil-gui.autoPlace{

  --font-size: 14px;
  --input-font-size: 14px;
  --title-height: unset;
  --background-color: rgba(0,0,0,0.8);
  --title-background-color: rgb(61 61 61 / 50%);
  --widget-height: 24px;
  --widget-padding: 0 0 0 5px;
  --widget-color: #303030;

  /* outline: 1px solid red; */

  top: auto;
  bottom: 56px; /* 56 is the height of footer */
  right: auto;
  left: 0;
  max-width: 400px;
  width: 100%;

  @media (display-mode: fullscreen) {
    &{
      bottom: 0px;
    }
  }

  &.root > .title:before{
    padding-right: 9px;
  }

  & .children{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  &.root > .title{
    padding: 1rem;
  }

  & .controller {

    & .name{
      padding-left: 8px;
      flex: 0 0 98px;
      min-width: unset;
    }

    & .widget{
      flex: 1 1 auto;
      padding-right: 8px;

    }

  }

}



@media screen and (max-width: 766px){
  .lil-gui.autoPlace{
    bottom: 56px;
    left:0;
    width: 100%;
    max-width: unset;
    
  }

}