.progress{

  --progress: 0%;
  --color: hsl(0,0%,0%);

  position: fixed;
  z-index: 100;
  top:0;
  left: 0;
  height: 3px;
  width: var(--progress);
  background-color: var(--color);
  /* transition: width 500ms; */

}