
:root {
  --logo-fg: #fff;
  --logo-bg: #000;
  --footer-color: hsl(333,100%,50%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #000000;

}

*, *::after, *::before{
  box-sizing: border-box;
}

* {
  scrollbar-color: #333 rgba(0,0,0,0);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  /* background-color: rgba(0, 0, 0, 0); */
}
 
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #333;
}

body,html{
  height: 100%;
  height: 100vh;
  height: 100dvh;
  margin:0;
  padding:0;
}

body{
  --background-color: #000000;
  background-color: var(--background-color);
  transition: background-color 200ms;
  touch-action: none;
}

.noscript{

  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1000;

  &>div{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 2rem;
    width: 95%;
    max-width: 500px;
    background: #222;
    z-index: 1001;

    &>h3{
      margin-top: 0px;
    }
  }

}

#app{
  min-height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header{
  position: fixed;
  top:0;
  left:0;
  z-index: 3;
  width: 100%;
}

header svg{
  width: 55px;
  height: 55px;

  @media screen and (min-width: 323px){
    width: 89px;
    height: 89px;
  }
}

.info{
  position: fixed;
  z-index: 30;
  top: 21px;
  right: 21px;
  
  & > .info-content{
    background: rgba(0,0,0,0.8);
    padding: 2rem;
    position: fixed;
    z-index: 30;
    top: 79px;
    right: -2100px;
    border-radius: 5px;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 500ms;
    will-change: right, opacity;

    &.on{
      right: 21px;
      opacity: 1;
      width: auto;

      @media screen and (max-width: 333px){
        & {
          right: 0;
          width: 100%;
          padding: 1rem;
        }
      }
    }

    & > p {
      padding: 0;
      margin: 0;
    }

  }
}


header svg path.logo-bg{
  fill: var(--logo-bg);
  will-change: fill;
}

header svg path.logo-fg{
  fill: var(--logo-fg);
  will-change: fill;
}

main{
  flex: 1 1 auto;
  position: relative;
  z-index: 2;
  display: flex;
  touch-action: none;
}

main canvas{
  flex: 1 1 auto;
  cursor: grab; 
  will-change: width, height;
  width: 100%;
  height: 100%;
  aspect-ratio: unset;
  touch-action: none;
}

main canvas:active{
  cursor: grabbing; 
}

footer{
  padding: 1rem 2rem;
  background-color: #151515;
  overflow:hidden;

  & a{
    color: var(--footer-color);
  }
  /* on chrome mobile the display-mode: fullscreen doesn't work  */
  &.full-screen{
    padding: 0rem 2rem;
    height: 0px;
  }
}

@media all and (display-mode: fullscreen) {
  footer{
    padding: 0rem 2rem;
    height: 0px;
  }
}

.button-group{
  position: fixed;
  top: 21px;
  right: 21px;
  display: grid;
  grid-gap: 13px;
  z-index: 34;
  grid-template-columns: auto 48px 48px;
  grid-template-rows: 1fr;
}